.user-list {
  list-style: none;
  padding: 0px;
  margin: 0px;

  .user-list__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #eee;

    .user-list_userdetail {
      span {
        margin-right: 5px;
      }

    }
  }

  .user-list__item__imgdiv {
     height: 70px;
  }

}

.user-list__item__imgdiv {
  .user-list__item__img {
    width: 60px;
    height: 60px;
    padding: 5px 0;

  }
}



